[submodule "theme/Gutenberg"]
	path = theme/Gutenberg
	url = https://github.com/BafS/Gutenberg.git
[submodule "src/confession-1689"]
	path = src/confession-1689
	url = git@github.com:joelouthan/theologicus-1689.git
